<div class="card card-block mx-auto">
  <h4 class="card-title">Create Joke</h4>
  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Enter the setup"
           #sp>
  </div>
  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Enter the punchline"
           #pl>
  </div>
  <button type="button"
          class="btn btn-primary"
          (click)="createJoke(sp.value, pl.value)">Create
  </button>
</div>
